In [91]:
import pandas as pd

In [92]:
#1st data set
df1=pd.read_csv("C:\\Users\\ARUN PRAVEEN\\Desktop\\HIV sheet1.csv")

In [93]:
df1.head()

,WHO region,Year,Number of new HIV infections,New HIV infections (per 1000 uninfected population)Both sexes,New HIV infections (per 1000 uninfected population) Male,New HIV infections (per 1000 uninfected population) Female
0,Global,2019,1 700 000 [1 200 000–2 200 000],0.22 [0.16–0.3],0.23 [0.17–0.32],0.21 [0.16-0.29]
1,Global,2018,1 700 000 [1 200 000–2 300 000],0.23 [0.17–0.31],0.24 [0.17–0.33],0.22 [0.16-0.3]
2,Global,2017,1 800 000 [1 300 000–2 400 000],0.24 [0.18–0.32],0.24 [0.18–0.34],0.23 [0.17-0.32]
3,Global,2016,1 800 000 [1 300 000–2 400 000],0.25 [0.18–0.34],0.25 [0.18–0.35],0.24 [0.18-0.33]
4,Global,2015,1 900 000 [1 400 000–2 500 000],0.26 [0.19–0.35],0.26 [0.19–0.36],0.26 [0.19-0.35]

In [94]:
for i in df1.columns:
    if i!='Year':
        df1[i]=df1[i].str.replace(r'\[.*\]',"")

In [95]:
df1.head()

,WHO region,Year,Number of new HIV infections,New HIV infections (per 1000 uninfected population)Both sexes,New HIV infections (per 1000 uninfected population) Male,New HIV infections (per 1000 uninfected population) Female
0,Global,2019,1 700 000,0.22,0.23,0.21
1,Global,2018,1 700 000,0.23,0.24,0.22
2,Global,2017,1 800 000,0.24,0.24,0.23
3,Global,2016,1 800 000,0.25,0.25,0.24
4,Global,2015,1 900 000,0.26,0.26,0.26

In [96]:
Length=len(df1)
for i in range(Length):
    s=df1['Number of new HIV infections'][i].split(" ")
    sol=" "
    for j in range(len(s)):
        sol+=s[j]
    df1['Number of new HIV infections'][i]=int(sol)

C:\Users\ARUN PRAVEEN\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [97]:
df1.head()

,WHO region,Year,Number of new HIV infections,New HIV infections (per 1000 uninfected population)Both sexes,New HIV infections (per 1000 uninfected population) Male,New HIV infections (per 1000 uninfected population) Female
0,Global,2019,1700000,0.22,0.23,0.21
1,Global,2018,1700000,0.23,0.24,0.22
2,Global,2017,1800000,0.24,0.24,0.23
3,Global,2016,1800000,0.25,0.25,0.24
4,Global,2015,1900000,0.26,0.26,0.26

In [98]:
#2nd dataset
df2=pd.read_csv('C:\\Users\\ARUN PRAVEEN\\Desktop\\HIV sheet2.csv')

In [99]:
df2.head()

  WHO region  Year Number of deaths due to HIV/AIDS
0     Global  2019        690 000 [500 000–970 000]
1     Global  2018      730 000 [530 000–1 000 000]
2     Global  2017      760 000 [550 000–1 100 000]
3     Global  2016      800 000 [580 000–1 100 000]
4     Global  2015      830 000 [610 000–1 200 000]

In [100]:
df2['Number of deaths due to HIV/AIDS']=df2['Number of deaths due to HIV/AIDS'].str.replace(r'\[.*\]',"")

In [101]:
df2.head()

  WHO region  Year Number of deaths due to HIV/AIDS
0     Global  2019                         690 000
1     Global  2018                         730 000
2     Global  2017                         760 000
3     Global  2016                         800 000
4     Global  2015                         830 000

In [102]:
Length=len(df2)
for i in range(Length):
    s=df2['Number of deaths due to HIV/AIDS'][i].split(" ")
    sol=" "
    for j in range(len(s)):
        sol+=s[j]
    df2['Number of deaths due to HIV/AIDS'][i]=sol

C:\Users\ARUN PRAVEEN\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [103]:
df2.head()

  WHO region  Year Number of deaths due to HIV/AIDS
0     Global  2019                           690000
1     Global  2018                           730000
2     Global  2017                           760000
3     Global  2016                           800000
4     Global  2015                           830000

In [107]:
df3=pd.read_excel("C:\\Users\\ARUN PRAVEEN\\Desktop\\HIV sheet3.xlsx")

In [108]:
df3.head()

   REGION  YEAR PEOPLE HAVING HIV
0  Global  2019       38 000 000
1  Global  2018        37 300 000
2  Global  2017        36 500 000
3  Global  2016        35 700 000
4  Global  2015       34 900 000

In [110]:
Length=len(df3)
for i in range(Length):
    s=df3['PEOPLE HAVING HIV'][i].split(" ")
    sol=" "
    for j in range(len(s)):
        sol+=s[j]
    df3['PEOPLE HAVING HIV'][i]=sol

C:\Users\ARUN PRAVEEN\anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys

In [112]:
df3.head()

   REGION  YEAR PEOPLE HAVING HIV
0  Global  2019          38000000
1  Global  2018          37300000
2  Global  2017          36500000
3  Global  2016          35700000
4  Global  2015          34900000

In [113]:
#storing back the updated datasets
Final1=df1.to_csv('C:\\Users\\ARUN PRAVEEN\\Desktop\\HIV sheet1.csv')
Final2=df2.to_csv('C:\\Users\\ARUN PRAVEEN\\Desktop\\HIV sheet2.csv')
Final3=df3.to_excel('C:\\Users\\ARUN PRAVEEN\\Desktop\\HIV sheet3.xlsx')